.bigh {
    font-size: 30px;
    margin: 0 7px 0 0;
    font-weight: 500;
}
  
.smallh {
    font-size: 20px;
    color: grey;
    margin: 0;
    font-weight: 500;
}
  
.bigh, .smallh {
    width: 50%;
    height: 50px;
    padding: 0;
    display: inline;
}
